blinker==1.9.0  # via flask
certifi==2024.7.4  # via requests
charset-normalizer==3.3.2  # via requests
click==8.1.7  # via flask
flask==3.0.3  # for web framework
itsdangerous==2.2.0  # via flask
jinja2==3.1.4  # via flask
markupsafe==2.1.5  # via jinja2
requests==2.32.3  # for HTTP requests
urllib3==1.26.19  # via requests
werkzeug==3.0.3  # via flask
inference_sdk==0.26.0  # for inference client
